@media( max-width: 600px) {
    .page {padding : 3rem 1.25rem;}
}

    h1 {
         font-family:'Times New Roman', Times, Serif;
        text-transform: uppercase;
        letter-spacing: 0.15em;
        text-align: center;
        padding-top: 135px;
        margin-top: 180.44px;
        

    }
 
     h4 {
        font-family:'Times New Roman', Times, Serif;
        text-transform: uppercase;
        text-align: center;
        color: #07437c;
        font-size: 1rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.25em;
        
    }
.rule {
    border:none;
    border-top: 1px solid deepskyblue;
    margin: 0.75rem auto;
    width: 60%
}

.tagline {
    font-style: italic;
    font-style: italic;
    margin-left: 9rem;
    margin-right: 8rem;
}
body {
    background-color:  #e8e8e8;
    margin: 0; 
    padding: 2rem 1rem;
}
p {
 font-family: 'Times New Roman', Times, Serif;
 
  font-size: 1rem;
  margin-left: 9rem;
  margin-right: 8rem;
  line-height: 1.8rem;
  padding-right: 22px;
}
.page {
   background-color: #fff;
  max-width: 800px;
  margin: 0 auto;
margin-top: 0px;
  padding: 3 rem 4 rem;
  box-shadow: 0 2px 12px rgba(0,0,0, 0.1);
  min-height: 80vh;
  margin-top: 32px;
}
ol {
 padding-left: 100px;
  margin-left: 4rem;
  margin-right: 6rem;
  margin: 0 auto anchor-size;
}

.list li {
    padding-bottom: 20px;
}

.logo {
    width:100px;
    display: block;
    margin: 3rem auto;
    padding-bottom:100px;
}