
#content{
        max-width: 60%;
        border: 1px solid darkgray;
        margin: 0 auto;
        padding-top: 50px;
}

body {
    background-color: #ddd;
    font-size:20px;
}

h1, h2, p {
    font-family:'Times New Roman', Times, Serif;
    text-align: center
}
h1 {
        text-transform: uppercase;
        letter-spacing: 0.15em;
        text-align: center;
        
        }

img {
    padding-top: 2.5rem;
    display: block;
    margin: 0 auto;
}
p { 

    font-size: 1.7rem;
    color:#046bb3;
}
hr {
    background-color:#046bb3;
    height:3px;
    width:80%;
}
.lists {
    list-style-type: none;
    padding-left:0;
   
    margin-left:13rem;
    margin-right:12rem
    
}
h2 {
   
    padding-top: 4rem;
    margin: 0 auto;
}